<div class="clients">
	<div class="container">
			<div class="row">
			<div class="col l9">
				<span class="h3">Наши клиенты</span>
				<p class="sub-title">Список брендов, с которыми мы имели честь работать</p>
			</div>
			<div class="col l3 right-align">
			<div class="buttons right">
				<a class="prev-c cnt"></a>
			<a class="next-c cnt"></a>
			</div>
			
			</div>
		</div>
		<div class="row">
			<div class="col l12">
				<div class="clients-slide responsive">
					<div class="item ">
					<div class="img valign-wrapper">
						<img src="/img/logo_mrc.png"  class="center-align" alt="">
					</div>
					</div>
					<div class="item ">
					<div class="img valign-wrapper">
						<img src="/img/logo_sbr.png"  class="center-align" alt="">
					</div>
					</div>
						<div class="item ">
					<div class="img valign-wrapper">
						<img src="/img/logo_yg.png"  class="center-align" alt="">
					</div>
					</div>
					<div class="item ">
					<div class="img valign-wrapper">
						<img src="/img/logo_vtb.png"  class="center-align" alt="">
					</div>
					</div>
						<div class="item ">
					<div class="img valign-wrapper">
						<img src="/img/logo_ya.png"  class="center-align" alt="">
					</div>
					</div>
						<div class="item ">
					<div class="img valign-wrapper">
						<img src="/img/logo_cola.png"  class="center-align" alt="">
					</div>
					</div>
	<div class="item ">
					<div class="img valign-wrapper">
						<img src="/img/logo_cola.png"  class="center-align" alt="">
					</div>
					</div>

					
				</div>
			</div>
		</div>
	</div>
</div>