 <!-- BEGIN page-footer -->
 <footer class="page-footer">
 <div class="container">
 	<div class="row">
 		<div class="col l4 t40">
 			<span class="h3">
 				Контакты
 			</span>
 			<p>Мы любим сложные и нестандартные задачи.
 			Будем рады совместному сотрудничеству.</p>
 			<div class="row">
 				<div class="col l8" id="street-1">
 				<span class="sub-heading">
 					OFfice
 				</span>
 				<span class="city" >
 					Калининград
 				</span>
 				<span class="street">
 					ул. Советский проспект, 43
 				</span>
 				</div>
 				<div class="col l4" id="street-2">
 				<span class="sub-heading">
 					Manufacture
 				</span>
 				<span class="city">
 					Москва
 				</span>
 				<span class="street" >
 					ул. Верейская, 21
 				</span>
 				</div>
 			</div>
 			<div class="row nb">
 				<div class="col l2">
 					<span class="label">
 						PHONE
 					</span>
 				</div>
 				<div class="col l10">
 					<span class="phone">
 						8 (495) 205-52-25
 					</span>
 				</div>
 			</div>
 			<div class="row nb">
 				<div class="col l2">
 					<span class="label">
 						E-MAIL
 					</span>
 				</div>
 				<div class="col l10">
 					<a href="mailto:info@appollopro.ru" class="email nice-link">info@appollopro.ru</a>
 				</div>
 			</div>
 			<div class="row">
 				<div class="col l2">
 					<span class="label">
 						SOCIAL
 					</span>
 				</div>
 				<div class="col l10">
 					<a class="social vk" href="">
 						<i class="icon-vk"></i>
 					</a>
 					<a class="social insta" href="">
 						<i class="icon-instagram"></i>
 					</a>
 					<a href="" class="social facebook">
 						<i class="icon-facebook"></i>
 					</a>
 				</div>
 			</div>
 		</div>
 		<div class="col l8">
 			<div id="map">
 				<span class="pin animated" id="pin-1">
 					<i class="icon-pin_icon"></i>
 				</span>
 				<span class="pin animated" id="pin-2">
 					<i class="icon-pin_icon"></i>
 				</span>
 			</div>
 		</div>
 	</div>
 </div>
 //=include instagram.html
 //=include copyright.html
 </footer>
 <!-- END page-footer -->