 <!-- BEGIN page-footer -->
 <footer class="page-footer">
 <div class="container">
 	<div class="row">
 		<div class="col l4">
 			<span class="h3">
 				Контакты
 			</span>
 			<p>Мы любим сложные и нестандартные задачи.
 			Будем рады совместному сотрудничеству.</p>
 			<div class="row">
 				<div class="col l8">
 				<span class="sub-heading">
 					OFfice
 				</span>
 				<span class="city">
 					Калининград
 				</span>
 				<span class="street">
 					ул. Советский проспект, 43
 				</span>
 				</div>
 				<div class="col l4">
 				<span class="sub-heading">
 					Manufacture
 				</span>
 				<span class="city">
 					Москва
 				</span>
 				<span class="street">
 					ул. Верейская, 21
 				</span>
 				</div>
 			</div>
 			<div class="row">
 				
 			</div>
 		</div>
 	</div>
 </div>
 //=include instagram.html
 //=include copyright.html
 </footer>
 <!-- END page-footer -->