<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="row">
			<div class="col l3 s12 valign-wrapper">
				<a href="" class="logo valign">
					<i class="icon-logo"></i>
				</a>
			</div>
			<div class="col l9 hide-on-small-only">
				<div class="row">
				<div class="col l6">
					<div class="row">
						<div class="col l8">
							<span class="category">HARDWARE</span>
						</div>
						<div class="col l4">
							<span class="category-soft">SOFTWARE</span>
						</div>
					</div>
				</div>
				<div class="col l6">
					<div class="row">
						<div class="col l5"><a href="mailto:info@appollopro.ru" class="email nice-link">info@appollopro.ru</a></div>
						<div class="col l7">
							<a href="tel:+74952055225" class="tel">8 (495) 205-52-25</a>
						</div>
					</div>
				</div>
				</div>
				<div class="row">
				<nav>
  <div class="nav-wrapper">
					<ul>
						<li><a href="#">Интерактивное <br>
оборудование</a></li>
						<li><a href="#">Аренда <br>
оборудования</a></li>
						<li><a href="#">Программное <br>
обеспечение</a></li>
						<li><a href="#"><br>Портфолио</a></li>
						<li><a href="#"><br>Поддержка</a></li>
						<li><a href="#"><br>Контакты</a></li>
					</ul>
					</div>
					</nav>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="header-fixed">
		<div class="header-fixed__top">
			<div class="container">
				<div class="row">
					<i class="header-menu-link material-icons">menu</i>
					<div class="logo">
						<a href=""><i class="icon-fix-apolo"></i></a>
					</div>	
					<div class="right">
					<div class="col l12">
						<a href="mailto:info@appollopro.ru" class="email nice-link">info@appollopro.ru</a>
						<a href="tel:+74952055225" class="tel">8 (495) 205-52-25</a>
					</div>
						
					</div>
				</div>
			</div>
			</div>
			<nav class="nav">
			<div class="container">
				<div class="row">
					<div class="nav-wrapper">
					<ul>
						<li><a href="#">Интерактивное оборудование</a></li>
						<li><a href="#">Аренда оборудования</a></li>
						<li><a href="#">Программное обеспечение</a></li>
						<li><a href="#">Портфолио</a></li>
						<li><a href="#">Обслуживание</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				</div>
			
				
				</div>
			</nav>
		
	</div>
	<div class="header-mobile">
		<div class="header-mobile__main">
			
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<div class="row">
				<span class="h1 animated fadeInLeft">
					Комплексное производство интерактивных <br>
продуктов для вашего проекта
				</span>
				<span class="sub-title animated fadeInRight">
					Креатив / Проектирование / Дизайн / Реализация / Поддержка
				</span>
				<div class="but">
					<a href="" class="button button--wapasha button--round-l button--text-thick button--inverted">Написать нам</a>
				</div>
			</div>
		</div>
	</div>
	<video autoplay loop muted class="bgvideo" id="bgvideo" poster="/img/image_video.jpg">
   <source src="/img/bg.mp4" type="video/mp4"></source>
  </video>
</header>