<div class="portfolio">
	<div class="container">
		<div class="row">
			<div class="col l9">
				<span class="h3">Наши работы</span>
				<p class="sub-title inner">Представлены кейсы, которые не проходят по договору NDA с клиентом. <br>
За полным портфолио обращайтесь к менеджерам</p>
			</div>
		</div>
		<div class="row">
			<div class="col l4 s12">
				<div class="card">
					<div class="image">
					<span class="hard">HARDWARE</span>
					<span class="soft">SOFTWARE</span>
						<img src="/img/card_2.png" alt="">
					</div>
					<div class="link">
						<a href="#">Проектирование и монтаж оборудования Mercedes me Cafe</a>
					</div>
					<div class="info valign-wrapper">
						<div class="brand-logo valign left col l7"><img src="/img/mer.png" alt=""></div>
						<div class="date valign  col l5">
						<span class="info-date right">Дата сдачи</span>
						<span class="date right">10/02/15</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col l4 s12">
				<div class="card">
					<div class="image">
					<span class="hard">HARDWARE</span>
					<span class="soft">SOFTWARE</span>
						<img src="/img/card_2.png" alt="">
					</div>
					<div class="link">
						<a href="#">Оснащение Digital Showroom для Jaguar и Land Rover</a>
					</div>
					<div class="info valign-wrapper">
						<div class="brand-logo valign left col l7"><img src="/img/land.png" alt=""></div>
						<div class="date valign  col l5">
						<span class="info-date right">Дата сдачи</span>
						<span class="date right">10/02/15</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col l4 s12">
				<div class="card">
				<div class="image">
				<span class="hard">HARDWARE</span>
					<span class="soft">SOFTWARE</span>
					<a class="rm-mag-embed" href="http://cases.appollopro.ru/625729" data-uri="625729"  data-width="responsive"  data-domain="http://cases.appollopro.ru"  target="_blank">http://cases.appollopro.ru/625729</a>
<script async src="https://readymag.com/specials/assets/embed_init.js" id="readymag-embed-init"></script>
				</div>
					<div class="link">
						<a href="">Digital оснащение стенда Fanta для новой «Fanta Цитрус»</a>
					</div>
					<div class="info valign-wrapper">
						<div class="brand-logo valign left col l7"><img src="/img/cola.png" alt=""></div>
						<div class="date valign  col l5">
						<span class="info-date right">Дата сдачи</span>
						<span class="date right">10/02/15</span>
						</div>
					</div>
				</div>
			</div>
			

		</div>
	<div class="row">
			<div class="col l4 s12">
				<div class="card">
					<div class="image">
					<span class="hard">HARDWARE</span>
					<span class="soft">SOFTWARE</span>
						<img src="/img/card_2.png" alt="">
					</div>
					<div class="link">
						<a href="#">Проектирование и монтаж оборудования Mercedes me Cafe</a>
					</div>
					<div class="info valign-wrapper">
						<div class="brand-logo valign left col l7"><img src="/img/mer.png" alt=""></div>
						<div class="date valign  col l5">
						<span class="info-date right">Дата сдачи</span>
						<span class="date right">10/02/15</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col l4 s12">
				<div class="card">
					<div class="image">
					<span class="hard">HARDWARE</span>
					<span class="soft">SOFTWARE</span>
						<img src="/img/card_2.png" alt="">
					</div>
					<div class="link">
						<a href="#">Оснащение Digital Showroom для Jaguar и Land Rover</a>
					</div>
					<div class="info valign-wrapper">
						<div class="brand-logo valign left col l7"><img src="/img/land.png" alt=""></div>
						<div class="date valign  col l5">
						<span class="info-date right">Дата сдачи</span>
						<span class="date right">10/02/15</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col l4 s12">
				<div class="card">
				<div class="image">
				<span class="hard">HARDWARE</span>
					<span class="soft">SOFTWARE</span>
					<a class="rm-mag-embed" href="http://cases.appollopro.ru/625729" data-uri="625729"  data-width="responsive"  data-domain="http://cases.appollopro.ru"  target="_blank">http://cases.appollopro.ru/625729</a>
<script async src="https://readymag.com/specials/assets/embed_init.js" id="readymag-embed-init"></script>
				</div>
					<div class="link">
						<a href="">Digital оснащение стенда Fanta для новой «Fanta Цитрус»</a>
					</div>
					<div class="info valign-wrapper">
						<div class="brand-logo valign left col l7"><img src="/img/cola.png" alt=""></div>
						<div class="date valign  col l5">
						<span class="info-date right">Дата сдачи</span>
						<span class="date right">10/02/15</span>
						</div>
					</div>
				</div>
			</div>
			

		</div>
		<div class="col l3 center-align visible-on-small-only hide-on-med-only hide-on-large-only">
				<a class="btn btn-large" href="#">Перейти в портфолио</a>
			</div>
	</div>
</div>