<div class="instagram">
<div class="row">
<div data-is
     data-is-api="/instashow/api/"
     data-is-source="@appollo_production"
     data-is-direction="horizontal"
     data-is-width="auto"
     data-is-height="240px"
     data-is-columns="8"
     data-is-rows="1"
     data-is-popup-info=""
     data-is-auto="5000"
     data-is-effect="slide"
     data-is-loop="true"
     data-is-lang="ru"
     data-is-color-gallery-overlay="#fc291c"
     data-is-arrows-control="false">     
</div>
	</div>
</div>