<div class="instagram">
<div class="row">
	<div class="item col l1">
		<img src="/img/inst_1.png" alt="">
	</div>
	<div class="item col l1">
		<img src="/img/inst_2.png" alt="">
	</div>
	<div class="item col l1">
		<img src="/img/inst_3.png" alt="">
	</div>
	<div class="item col l1">
		<img src="/img/inst_4.png" alt="">
	</div>
	<div class="item col l1">
		<img src="/img/inst_5.png" alt="">
	</div>
	<div class="item col l1">
		<img src="/img/inst_6.png" alt="">
	</div>
	<div class="item col l1">
		<img src="/img/inst_7.png" alt="">
	</div>
	<div class="item col l1">
		<img src="/img/inst_8.png" alt="">
	</div>
	</div>
</div>