<div class="reviews">
	<div class="container">
		<div class="row">
			<div class="col l12">
				<div class="single-slide">
					<div class="item">
						<p>Большое спасибо вам и вашей команде за проделанную работу! Нам всем очень приятно сотрудничество с вашей командой. 
Хочу отметить ваш профессионализм (ваш лично и всей вашей команды), безграничную нацеленность на результат и аккуратность. 
С вашим участием получился отличный проект, спасибо вам!</p>
						<span class="name">Юлия Доровская</span>
						<span class="role">Experiential Manager, Team Leader, Jaguar Land Rover Russia</span>
					</div>
					<div class="item">
						<p>Большое спасибо вам и вашей команде за проделанную работу! Нам всем очень приятно сотрудничество с вашей командой. 
Хочу отметить ваш профессионализм (ваш лично и всей вашей команды), безграничную нацеленность на результат и аккуратность. 
С вашим участием получился отличный проект, спасибо вам!</p>
						<span class="name">Юлия Доровская</span>
						<span class="role">Experiential Manager, Team Leader, Jaguar Land Rover Russia</span>
					</div>
					<div class="item">
						<p>Большое спасибо вам и вашей команде за проделанную работу! Нам всем очень приятно сотрудничество с вашей командой. 
Хочу отметить ваш профессионализм (ваш лично и всей вашей команды), безграничную нацеленность на результат и аккуратность. 
С вашим участием получился отличный проект, спасибо вам!</p>
						<span class="name">Юлия Доровская</span>
						<span class="role">Experiential Manager, Team Leader, Jaguar Land Rover Russia</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>