<div class="request">
	<div class="container">
		<div class="row">
			<div class="col l7">
				<span class="h3">
					Сотрудничество
				</span>
				<p>
					Процесс начинается с выяснения задач клиента. Оставьте заявку <br>
и наш менеджер свяжется с вами
				</p>
				<span class="h3 sm">
					Мы работаем:
				</span>
				<div class="list">
					<div class="item">
					<i class="icon-agency_icon"></i>
						<div class="item__content">
							<div class="item__name">
								C агенствами
							</div>
							<div class="item__text">
								Управление брендом, на первый взгляд, концентрирует <br> потребительский рынок, работая над проектом.
							</div>
						</div>
					</div>
					<div class="item">
					<i class="icon-production_icon"></i>
						<div class="item__content">
							<div class="item__name">
								C продакшн студиями
							</div>
							<div class="item__text">
								Практика однозначно показывает, что воздействие на<br> потребителя консолидирует медийный канал.
							</div>
						</div>
					</div>
					<div class="item">
					<i class="icon-client_icon"></i>
						<div class="item__content">
							<div class="item__name">
								Напрямую с клиентами
							</div>
							<div class="item__text">
								Маркетингово-ориентированное издание подсознательно<br> допускает конвергентный системный анализ.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col l5">
				<div class="form">
					<span class="h3 center">
						Оставьте заявку
					</span>
					  <div class="row">
    <form action="#">
        <div class="col l12">
        	<span class="input input--kohana">
					<input class="input__field input__field--kohana" type="text" id="input-29" />
					<label class="input__label input__label--kohana" for="input-29">
						  <i class="icon-user_icon icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Имя</span>
					</label>
				</span>
        </div>
        <div class="col l12">
             	<span class="input input--kohana">
					<input class="input__field input__field--kohana" type="text" id="input-29" />
					<label class="input__label input__label--kohana" for="input-29">
						  <i class="icon-phone_icon icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">Номер телефона</span>
					</label>
				</span>
        </div>
        <div class="col l12">
          	<span class="input input--kohana">
					<input class="input__field input__field--kohana" type="text" id="input-29" />
					<label class="input__label input__label--kohana" for="input-29">
						  <i class="icon-mail_icon icon icon--kohana"></i>
						<span class="input__label-content input__label-content--kohana">E-mail адрес</span>
					</label>
				</span>
        </div>
         <div class="col l12">
         <span class="input">
         	  <textarea name="comment"  id="input-30" cols="30" rows="10" placeholder="Описание"></textarea>
         
         </span>
        
        </div>
        <div class="col l12">
        <span class="input">
          <button type="submit" class="button button--wapasha button--round-l button--text-thick button--inverted" >Оставьте заявку </button>
          </span>
        </div>
    </form>
  </div>
				</div>
			</div>
		</div>
	</div>
</div>